* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#controls {
    padding: 20px;
    background-color: #eaeaea;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

#canvas {
    margin: 3rem 0 1rem 25rem;
    width: 30rem;
    height: 25rem;
    position: relative;
    background-color: #ac9f9f;
    border: 1px solid #000000;
    border-radius: 1rem;
    overflow: hidden;
}

.text-element {
    position: absolute;
    font-size: 16px;
    color: #fffcfc;
    background-color: #000000;
    font-family: Arial, sans-serif;
}
.text-element:active{
    background-color: #25dc41;
}
